<hr>
<div class="row justify-content-end">
    <div class="col-12">
        <div class="d-flex justify-content-end mr-5">
            <div class="form-check">
                <input
                    type="checkbox"
                    class="form-check-input"
                    id="autorefresh"
                    name="autorefresh"
                    (change)="change($event)"
                    [checked]="autorefresh"
                >
                <label
                    class="form-check-label"
                    for="autorefresh"
                >
                    Auto-refresh
                </label>
            </div>
        </div>
    </div>
</div>
<hr>
